@import url("https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap");

body {
  margin: 0;
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: #1f2937;
  width: 550px;
  /* height: 550px;   */
  margin: 0;
  
}

.main-container {
  margin: 115px 52px;
  font-family: "Inter";
  display: flex;
  flex-direction: column;
}

.password-El {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
 
}

h1 {
  color: #ffffff;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: -0.025em;
  margin: 0;
}

.heading {
  display: block;
  color: #4adf86;
}

.description {
  color: #d5d4d8;
  font-weight: 400;
  line-height: 28px;
}

#password-btn{
    margin-top: 51px;
    padding: 9px 17px 9px 15px;
    width: 191px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    background-color: #10B981;
    color: #FFFFFF;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

}

#seprator {
    border: 1px solid #2F3E53;
    display: block;
    margin: 35px 0 ;
}



#password1-El , #password2-El {
    width: 211px;
    height: 39px;   
    background-color :#273549;
    border-radius: 6px;
    color: #55F991;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

@media (max-width :28rem) {

  .password-El {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column  ;
  gap: 6px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

